# {{ ansible_managed }}
auto br-int
allow-ovs br-int
iface br-int inet static
  address 192.168.{{ ansible_hostname[-1] }}.1/20
  ovs_type OVSBridge
  ovs_ports {% for index in range( 1, groups['hypervisors'] | length ) %}gre{{ index }} {% endfor %}

  ovs_extra set Bridge br-int stp_enable=true -- set interface br-int mtu_request=1450

{% set rancher_nodes = groups['hypervisors'] %}
{% set count = [1] %}
{% for node in groups['hypervisors'] %}
{% if node != inventory_hostname %}
#Connection to {{ hostvars[node]['ansible_fqdn'] }}
allow-br-int gre{{ count[0] }}
iface gre{{ count[0] }} inet manual
    ovs_bridge br-int
    ovs_type OVSTunnel
    ovs_tunnel_type gre
    ovs_tunnel_options options:remote_ip={{ hostvars[node]['ansible_default_ipv4']['address'] }}
{% if count.append(count.pop() + 1) %}{% endif %}
{% endif %}
{% endfor %}
